<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Auth</title>	
	</head>
	<body>
		<form name="authForm" action="auth" onsubmit="return validate()" method="POST">
			<input type="email" name="email" placeholders="Email">
			<input type="password" name="code" placeholder="Password">
			<input type="submit" value="Submit">
		</form>
	</body>
	<script>
		const validate = () => {
			let form = document.forms["authForm"]

			if (form['email'].value == "" || form['code'].value == "") {
				alert('Fill out the form correctly!')
				return false
			}
			return true
		}
	</script>
</html>
